<div class="table-employee">
  <table class="table" id="ordersTable">
    <thead>
      <tr>
        <th></th>
        <th scope="col"> Description </th>
        <th scope="col"> Status </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in $ctrl.orders" ng-class="{selected: order.selected}">
        <td><input type="checkbox" ng-model="order.selected"></td>
        <td>{{ order.description }}</td>
        <td>{{ order.status }}</td>
      </tr>
    </tbody>
  </table>
  
  <a href="http://localhost:8000/#!/ordersForm" class="btn btn-primary btn-block">
    Add new Order
  </a>  
  
  <button ng-click="$ctrl.completeOrder($ctrl.orders)" class="btn btn-success btn-block">
    Complete Order
  </button>

  <button ng-click="$ctrl.cancelOrder($ctrl.orders)" class="btn btn-danger btn-block">
    Cancel Order
  </button>

</div>